<!-- <div class="control-summary-card-list pad-15" *ngFor="let control of controls">
    <control-summary-card ></control-summary-card>
</div> -->

<div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of controls">
            <td>1</td>
            <td>something</td>
          </tr>
            <!-- <tr *ngFor="let control of controls">
                <td>{{control.id}}</td>
                <td>{{control.name}}</td>
            </tr> -->
        </tbody>
    </table>
</div>
