<div class="control-list pad-15">
    <div *ngFor="let control of controls">
        <control-summary-card [control]=control></control-summary-card>
    </div>
</div>

<!-- <div class='table-responsive'>
    <table class='table'>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let control of controls">
                <td>{{control.id}}</td>
                <td>{{control.name}}</td>
            </tr>
        </tbody>
    </table>
</div> -->

