<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Area of Audits</h1>
  <p class="lead">The different areas of audits supported by Control Manager</p>
</div>
<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row" align="center">
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../assets/images/it_risk.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Technology Risk & Control</h2>
      <p>All the technology related risks and controls</p>
      <p><a class="btn btn-secondary" routerLink="/repository" role="button">View &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../assets/images/operational_risk.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Operational Risk & Control</h2>
      <p>All the operations related risks and controls</p>
      <p><a class="btn btn-secondary" routerLink="/repository" role="button">View &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" src="../../assets/images/regulatory_risk.png" alt="Generic placeholder image" width="140" height="140">
      <h2>Regulatory Risk & Control</h2>
      <p>All the regulatory related risks and controls</p>
      <p><a class="btn btn-secondary" routerLink="/console" role="button">View &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->